<mat-list-item role="listitem">
  <img matListAvatar [src]="film.image">
  <h3 matLine> {{film.titre}} </h3>
  <p matLine> {{film.description | truncate: 50}}</p>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
 </button>
 <mat-menu #menu="matMenu">
  <a mat-menu-item [routerLink]="film.id">
    Voir
  </a>
  <a mat-menu-item [routerLink]="['form', film.id]">
    Modifer
  </a>
  <button mat-menu-item (click)="delete()">
    Supprimer
  </button>
</mat-menu>
</mat-list-item>